<% layout("/layouts/boilerplate") -%>
<body>
  <div class="container-practice mt-4 offset-2 ">
    <div class="row g-2"> 
  <div class="col-12 col-md-4">
    <a href="/teamproject/basic-contest" class="main-card">
      <div class="card text-bg-dark">
        <img src="/images/image2.png" class="card-img" alt="Card 2">
        <div class="card-img-overlay">
          <h5 class="card-title">Basic Coding Contest</h5>
          <p class="card-text">Compete with other live players in basic coding challenges.</p>
          <p class="card-text"><small>Last updated 5 mins ago</small></p>
        </div>
      </div>
    </a>
  </div>

  <!-- Third Card -->
  <div class="col-12 col-md-4">
    <a href="/teamproject/medium-contest" class="main-card">
      <div class="card text-bg-dark">
        <img src="/images/image3.png" class="card-img" alt="Card 3">
        <div class="card-img-overlay">
          <h5 class="card-title">Medium Coding Contest</h5>
          <p class="card-text">Challenge medium-level coders and test your skills.</p>
          <p class="card-text"><small>Last updated 10 mins ago</small></p>
        </div>
      </div>
    </a>
  </div>

  <!-- Fourth Card -->
  <div class="col-12 col-md-4">
    <a href="/teamproject/inter-team" class="main-card">
      <div class="card text-bg-dark">
        <img src="/images/image4.png" class="card-img" alt="Card 4">
        <div class="card-img-overlay">
          <h5 class="card-title">Inter-Team Contest</h5>
          <p class="card-text">Compete in inter-team challenges and showcase your teamwork.</p>
          <p class="card-text"><small>Last updated 15 mins ago</small></p>
        </div>
      </div>
    </a>
  </div>
</div>
 <br><br>
</div>
</div>
<br>
<div class="offset-2">
<a href="" class="allQuestion">
 <ul class="question">find the second largest element</ul> 
 <ul class="question">find the greatest element</ul>
 
 <ul class="question">Next permutation </ul>
 
 <ul class="question">find the shortest path </ul>
 
 <ul class="question">find the sum of array</ul>
 <ul class="question">Check array is sorted or not</ul>
 <ul class="question">Rotate array by K place</ul>
</a>

 

</div>
</body>
